<h1>Create Assignment</h1>

<%= form_for(@assignment) do |f| %>

<%= f.label :work_order_id %><br>
<%= f.text_field :work_order_id %><br>

<%= f.label :worker_id %><br>
<%= f.text_field :worker_id %><br><br>

<%= f.submit "Create my assignment" %>
<% end %>